


<br>
<br>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="mx-auto" style="width: 700px;">
  <% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this book from being saved:
  <ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>

<h2>User Info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%><br>
  <br>
  <label for="inputImage">Profile Image</label> <br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %> <br>

  <label for="inputName">Introduction</label> <br>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%><br>
  <br>
  <%= f.submit "Update User" ,class: "btn btn-lg btn-secondary"  %>
<% end %>
</div>
</div>
