<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<br>
<br>
<div class="container">
<div class="mx-auto" style="width: 700px;">
<h2>User Info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%><br>
  <br>
  <label for="inputImage">Profile Image</label> <br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %> <br>

  <label for="inputName">Introduction</label> <br>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%><br>
  <br>
  <%= f.submit "Update User" ,class: "btn btn-lg btn-secondary"  %>
<% end %>
</div>
</div>
