<br>
<div class="container">
  <div class="row">
    <div class="col-lg-3" style="background-color: white;">
      <h2>User Info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table table-white">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
            <th></th>
          </tr>

          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
            <th></th>
           </tr>
        </tbody>
      </table>

        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: 'post-btn-lg' do %>
            <button style="width:260px; height:40px;" type="submit"><i class="fas fa-user-cog">
              </i></button>
        <% end %>
        <% end %>

    <br>
    <br>
    <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <h6>Title</h6>
      <%= f.text_field :title , size: "30" %>
      <h6>Opinion</h6>
      <%= f.text_area :body , size: "33" %><br>
      <%= f.submit 'Create Book' ,class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>

<div class="col-lg-8">
  <table class="table table-white" style="background-color: white;">
   <h2>Users</h2>
    <thead>
      <tr>
        <th>image</th>
         <th>name</th>
         <th></th>
      </tr>
    </thead>

    <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user_path(user), method: :get %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

