
<div class="container">
  <div class="row">
    <div class="col-lg-4" style="background-color: white;">
      <h2>User Info Index</h2>
      <%= image_tag current_user.get_profile_image(100,100) %>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>name</th>
            <th></th>
          </tr>

          <tr>
            <th>introduction</th>
            <th></th>
          </tr>
            <% if @user == current_user %>
            <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
            <% end %>
        </tbody>
      </table>

      <%= form_with model: @book do |f| %>
      <h6>Title</h6>
      <%= f.text_field :title %>
      <h6>Opinion</h6>
      <%= f.text_area :body %><br>
      <%= f.submit 'Create Book' ,class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>

<div class="col-lg-8">
  <table class="table table-striped">
   <h2>Users</h2>
    <thead>
      <tr>
        <th>image</th>
         <th>name</th>
         <th></th>
      </tr>
    </thead>

    <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user_path(user), method: :get %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

