<% if flash[:success]%>
<%= flash[:success]%>
<%end%>
<br>

<div class="container">
 <div class="row">
  <div class="col-lg-4" style="background-color: white;">
   <h2>User Info show</h2>
     <%= image_tag current_user.get_profile_image(100,100) %>
     <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th></th>
        </tr>

        <tr>
          <th>introduction</th>
          <th></th>
        </tr>
      </thead>
     </table>

  <% if @user == current_user %>
   <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-lg btn-info" %></button>
  <% end %>
  <br>
  <br>
  <br>

 <h3>New book</h3>
  <% if @book.errors.any? %>
   <%= @book.errors.count %><font color="red">errors prohibited this obj from being saved:</font>
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
      <% end %>
   </ul>
      <% end %>

  <%= form_with model: @book do |f| %>
    <h6>Title</h6>
    <%= f.text_field :title %>
    <h6>Opinion</h6>
    <%= f.text_area :body %>
    <br>
    <%= f.submit 'Create Book',class: "btn btn-lg btn-primary" %>
   <% end %>
 </div>

<div class="col-lg-8">
  <table class="table table-striped">
   <h2>Books</h2>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      <th></th>
      </tr>
   </thead>

   <tbody>
    <% @books.each do |book| %>
     <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>
</div>
