
<div class="container  px-5 px-sm-0">
  <div class="row">
    <div class="ccol-12 col-md-3" style="background-color: white;">
        <% if flash[:success]%>
        <%= flash[:success]%>
        <%end%>
      <h2>User Info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
       <table class="table table-white">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>

    <div class="row">
     <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-wrapper col-11 mx-auto" do %>
      <p><i class="fas fa-user-cog"></i></p><% end %>
    </div>
        <br>
        <br>
        <br>
       <h3>New book</h3>
       <%= form_with model: @newbook do |f| %>
          <h6>Title</h6>
          <%= f.text_field :title, size: "30"  %>
          <h6>Opinion</h6>
          <%= f.text_area :body, size: "33"  %><br>
          <%= f.submit 'Create Book',class: "btn btn-lg btn-success" %>
        <% end %>
    </div>

    <div class="col-12 col-md-8 offset-md-1" style="background-color: white;">
      <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
              <tr>
              <td><%= image_tag @user.get_profile_image(100,100) %><%= link_to @user.name, user_path(@user.id)%></td>
              <td><%= link_to @book.title,book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete,class:"btn btn-danger","data-confirm" => "本当に削除しますか？"%></td>
              <% end %>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
