<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2 ryota kaneda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <body style="padding-top:0px">
          <div class="container">

              <%= link_to root_path, class: 'nav-link text-white' do %>
                <h5>Bookers</h5>
              <% end %>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
             <li class="nav-item active">

            <% if user_signed_in? %>
             <li class="nav-item">
              <%= link_to user_path(current_user.id), class: 'nav-link text-white' do %>
              <p><i class="fas fa-home fa-fw"></i>Home</p>
              <% end %>
            </li>
             <li class="nav-item">
              <%= link_to users_path, class: 'nav-link text-white' do%>
              <p><i class="fas fa-users fa-fw"></i>Users</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path, class: 'nav-link text-white' do%>
              <p><i class="fas fa-book-open fa-fw"></i>Books</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do%>
              <p><i class="fas fa-sign-out-alt fa-fw"></i>Log out</p>
              <% end %>
            </li>
            <% else %>
             <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-white' do %>
              <p><i class="fas fa-home fa-fw"></i>Home</p>
              <% end %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-white' do%>
              <p><i class="fas fa-link fa-fw"></i>About</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
              <p><i class="fas fa-user-plus fa-fw"></i>Sign up</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
              <p><i class="fas fa-sign-in-alt"></i>Log in</p>
            <% end %>
           <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-light text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
